<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.team2403.model.mapper.TblCartMapper">

	<select id="findByUserId" resultType="jp.co.internous.team2403.model.domain.dto.CartDto">
	SELECT tbl_cart.id, mst_product.image_full_path, mst_product.product_name, mst_product.price, tbl_cart.product_count, tbl_cart.created_at, tbl_cart.updated_at
	FROM tbl_cart
	INNER JOIN mst_product
	ON tbl_cart.product_id = mst_product.id
	WHERE tbl_cart.user_id = #{userId}
	ORDER BY tbl_cart.updated_at ASC, tbl_cart.created_at ASC;
	</select>
	
	<delete id="deleteById">
	DELETE FROM tbl_cart
	WHERE id IN
		<foreach collection="checkedIds" item="checkedId" index="index" 
				open="(" separator="," close=")" >
				#{checkedId}
		</foreach>
	</delete>
	
</mapper>